<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <video
      controls
      width="720"
      height="480"
      id="video"
      preload="auto"
      src="https://vd2.bdstatic.com/mda-jcisc74riprcu4q7/sc/mda-jcisc74riprcu4q7.mp4?v_from_s=sz_videoui_4135&auth_key=1612340006-0-0-4bc638ca63fb94c409acd5c60996bac6&bcevod_channel=searchbox_feed&pd=1&pt=3&abtest="
    ></video>
  </body>
</html>
